*{
  margin: 0;
  padding: 0;
}

.App{
    font-family: 'Marko One', serif;
}

.cats{
  margin-right: 3rem;
}

.btnsCantidad{
  display: flex;
  align-items: baseline;
  justify-content: left;
}

.btnsumar, .btnrestar{
  background-color: transparent;
  padding: .5rem;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.btnsumar{
  background-color: rgba(0, 128, 0, 0.712);
}

.btnrestar{
  background-color: rgba(255, 0, 0, 0.815);
}


.btnAgregar{
  font-size: 15px;
  border: none;
  color: white;
  padding: .3rem;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.829);
}

.Navbar{
  background-color: rgba(255, 0, 0, 0.829);
  display: flex;
  align-items: center;
  min-height: 6rem;
}

.imgCarrito{
  width: 4rem;
  border-radius: 10px;
}

.headerContenido{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nombreLugarHeader{
  font-size: 30px;
  color: white;
}

.cardInicio{
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid .5px rgba(128, 128, 128, 0.13);
  margin: 1rem;
  border-radius: 10px;
}

.tituloInicioCards{
  font-size: 25px;
}

.imgInicioCard{
  width: 4rem;
  border-radius: 10px;
}

.contenedorProductos{
  padding: 1rem;
  color: rgb(80, 80, 80);
}

.tituloCard{
  color: rgb(56, 56, 56);
}

.cardMostrarProductos{
  padding-top: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(128, 128, 128, 0.171);
  padding-bottom: 1rem;
}

.textoCardMostrarProductos{
  width: 100%;
}

.imgCard{
  border-radius: 10px;
  width: 5rem;
}

.carrito{
  width: 90%;
  margin-left: 5%;
}

.cardCarrito{
  border-bottom: solid 1px rgba(128, 128, 128, 0.274);
  padding-top: .5rem;

}

.iconDelete{
  width: 2rem;
  border-radius: 50%;
  margin-bottom: 5px;;
}

.btnDelete{
  border: none;
  background-color: transparent;
}

.btnPedir, .btnConfirmar{
  border: none;
  background-color: rgba(255, 0, 0, 0.829);
  color: white;
  padding: .5rem;
  border-radius: 10px;
  margin-top: .5rem;
}

.totalPedir{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding-top: .5rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.274);
  padding-bottom: 1rem;
}

.divTerminarPedido{
  padding: 1rem;
}

.inputAgregarCantidad{
  width: 3rem;
  text-align: left;
  border: solid 1px rgba(128, 128, 128, 0.479);
  padding-left: 2px;
}

.mostrarGustosEmp{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.btnCantEmpanadas{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.get{
  display: flex;
  justify-content: left;
  align-items: center;
}